input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 80px;
	height: 32px;
    position: relative;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
input[type="color"]::before {
    content: "Pick a color";
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: 5px;
}
